USE [ComputerStoreDB]
GO
ALTER TABLE [dbo].[Products] DROP CONSTRAINT [FK_Products_Brands_BrandID]
GO
ALTER TABLE [dbo].[Orders] DROP CONSTRAINT [FK_Orders_Products_ProductID]
GO
/****** Object:  Index [IX_Products_BrandID]    Script Date: 2025/6/18 13:31:56 ******/
DROP INDEX [IX_Products_BrandID] ON [dbo].[Products]
GO
/****** Object:  Index [IX_Orders_ProductID]    Script Date: 2025/6/18 13:31:56 ******/
DROP INDEX [IX_Orders_ProductID] ON [dbo].[Orders]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 2025/6/18 13:31:56 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Products]') AND type in (N'U'))
DROP TABLE [dbo].[Products]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 2025/6/18 13:31:56 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Orders]') AND type in (N'U'))
DROP TABLE [dbo].[Orders]
GO
/****** Object:  Table [dbo].[Brands]    Script Date: 2025/6/18 13:31:56 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Brands]') AND type in (N'U'))
DROP TABLE [dbo].[Brands]
GO
USE [master]
GO
/****** Object:  Database [ComputerStoreDB]    Script Date: 2025/6/18 13:31:56 ******/
DROP DATABASE [ComputerStoreDB]
GO
/****** Object:  Database [ComputerStoreDB]    Script Date: 2025/6/18 13:31:56 ******/
-- THIS IS COMMENT -- 
-- CREATE DATABASE [ComputerStoreDB]
--  CONTAINMENT = NONE
--  ON  PRIMARY 
-- ( NAME = N'ComputerStoreDB', FILENAME = N'C:\Users\cbz\ComputerStoreDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
--  LOG ON 
-- ( NAME = N'ComputerStoreDB_log', FILENAME = N'C:\Users\cbz\ComputerStoreDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
--  WITH CATALOG_COLLATION = DATABASE_DEFAULT

CREATE DATABASE [ComputerStoreDB]


GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ComputerStoreDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ComputerStoreDB]
GO
/****** Object:  Table [dbo].[Brands]    Script Date: 2025/6/18 13:31:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Brands](
	[BrandID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Manufacturer] [nvarchar](100) NOT NULL,
	[Country] [nvarchar](50) NOT NULL,
	[Website] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_Brands] PRIMARY KEY CLUSTERED 
(
	[BrandID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 2025/6/18 13:31:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[OrderID] [int] IDENTITY(1,1) NOT NULL,
	[ProductID] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[Amount] [decimal](10, 2) NOT NULL,
	[CustomerName] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](255) NOT NULL,
	[Number] [nvarchar](max) NOT NULL,
	[OrderStatus] [nvarchar](20) NOT NULL,
	[TimeStamp] [datetime] NOT NULL,
 CONSTRAINT [PK_Orders] PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 2025/6/18 13:31:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[ProductID] [int] IDENTITY(1,1) NOT NULL,
	[BrandID] [int] NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](500) NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[ProductImage] [nvarchar](255) NOT NULL,
	[PublishedDate] [datetime] NOT NULL,
	[StockQuantity] [int] NOT NULL,
	[LastModifiedDate] [datetime] NOT NULL,
	[CPU] [nvarchar](100) NOT NULL,
	[GPU] [nvarchar](100) NOT NULL,
	[Memory] [nvarchar](100) NOT NULL,
	[ProductType] [nvarchar](8) NOT NULL,
	[TowerSize] [nvarchar](max) NULL,
	[PowerSupplyWattage] [int] NULL,
	[CoolingSystem] [nvarchar](max) NULL,
	[BatteryLife] [int] NULL,
	[Weight] [float] NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Brands] ON 

INSERT [dbo].[Brands] ([BrandID], [Name], [Manufacturer], [Country], [Website]) VALUES (1, N'HP', N'HP Inc.', N'USA', N'https://www.hp.com')
INSERT [dbo].[Brands] ([BrandID], [Name], [Manufacturer], [Country], [Website]) VALUES (2, N'Lenovo', N'Lenovo Group', N'China', N'https://www.lenovo.com')
INSERT [dbo].[Brands] ([BrandID], [Name], [Manufacturer], [Country], [Website]) VALUES (3, N'Dell', N'Dell Technologies', N'USA', N'https://www.dell.com')
SET IDENTITY_INSERT [dbo].[Brands] OFF
GO
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([OrderID], [ProductID], [Quantity], [Amount], [CustomerName], [Email], [Number], [OrderStatus], [TimeStamp]) VALUES (9, 1032, 0, CAST(9999.00 AS Decimal(10, 2)), N'Bozhi Chen', N'bozhi.chen@outlook.com', N'123123123', N'Pending', CAST(N'2025-06-16T15:25:48.020' AS DateTime))
INSERT [dbo].[Orders] ([OrderID], [ProductID], [Quantity], [Amount], [CustomerName], [Email], [Number], [OrderStatus], [TimeStamp]) VALUES (10, 1032, 0, CAST(37980.00 AS Decimal(10, 2)), N'Super', N'super@outlook.com', N'123456789', N'Pending', CAST(N'2025-06-16T15:30:20.250' AS DateTime))
INSERT [dbo].[Orders] ([OrderID], [ProductID], [Quantity], [Amount], [CustomerName], [Email], [Number], [OrderStatus], [TimeStamp]) VALUES (11, 1033, 0, CAST(2999.98 AS Decimal(10, 2)), N'Josef', N'Josef@google.com', N'11223344', N'Pending', CAST(N'2025-06-16T15:32:19.320' AS DateTime))
SET IDENTITY_INSERT [dbo].[Orders] OFF
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([ProductID], [BrandID], [Name], [Description], [Price], [ProductImage], [PublishedDate], [StockQuantity], [LastModifiedDate], [CPU], [GPU], [Memory], [ProductType], [TowerSize], [PowerSupplyWattage], [CoolingSystem], [BatteryLife], [Weight]) VALUES (1032, 1, N'HP Spectre x360', N'Convertible touchscreen laptop', CAST(1899.00 AS Decimal(18, 2)), N'hp_spectre.jpg', CAST(N'2025-06-15T02:46:56.673' AS DateTime), 200, CAST(N'2025-06-16T16:32:40.130' AS DateTime), N'Intel i7-1355U', N'Intel Iris Xe', N'16GB', N'Laptop', NULL, NULL, NULL, 12, 50)
INSERT [dbo].[Products] ([ProductID], [BrandID], [Name], [Description], [Price], [ProductImage], [PublishedDate], [StockQuantity], [LastModifiedDate], [CPU], [GPU], [Memory], [ProductType], [TowerSize], [PowerSupplyWattage], [CoolingSystem], [BatteryLife], [Weight]) VALUES (1033, 2, N'Lenovo Yoga Slim 7i', N'Lightweight productivity laptop', CAST(1499.99 AS Decimal(18, 2)), N'yoga_slim7i.jpg', CAST(N'2025-06-15T02:46:56.673' AS DateTime), 25, CAST(N'2025-06-15T02:46:56.673' AS DateTime), N'Intel i5-1240P', N'Intel Iris Xe', N'16GB', N'Laptop', NULL, NULL, NULL, 14, 1.25)
INSERT [dbo].[Products] ([ProductID], [BrandID], [Name], [Description], [Price], [ProductImage], [PublishedDate], [StockQuantity], [LastModifiedDate], [CPU], [GPU], [Memory], [ProductType], [TowerSize], [PowerSupplyWattage], [CoolingSystem], [BatteryLife], [Weight]) VALUES (1034, 3, N'Dell XPS 13 Plus', N'Ultra-slim premium laptop
Hello everyone', CAST(1999.00 AS Decimal(18, 2)), N'xps13_plus.jpg', CAST(N'2025-06-15T02:46:56.673' AS DateTime), 20, CAST(N'2025-06-17T12:41:56.407' AS DateTime), N'Intel i7-1360P', N'Intel Iris Xe', N'16GB', N'Laptop', NULL, NULL, NULL, 10, 15)
SET IDENTITY_INSERT [dbo].[Products] OFF
GO
/****** Object:  Index [IX_Orders_ProductID]    Script Date: 2025/6/18 13:31:56 ******/
CREATE NONCLUSTERED INDEX [IX_Orders_ProductID] ON [dbo].[Orders]
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Products_BrandID]    Script Date: 2025/6/18 13:31:56 ******/
CREATE NONCLUSTERED INDEX [IX_Products_BrandID] ON [dbo].[Products]
(
	[BrandID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Products_ProductID] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ProductID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Products_ProductID]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_Brands_BrandID] FOREIGN KEY([BrandID])
REFERENCES [dbo].[Brands] ([BrandID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_Brands_BrandID]
GO
USE [master]
GO
